@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


body {
    background-color:white;
    font-family: sans-serif;
    font-size: 12px;
    
  }

  .heading-text {
    font-size: 1.5rem;
  }
  
  /* Font size for large screens */
  @media (min-width: 768px) {
    .heading-text {
      font-size: 24px;
    }
  }

  /**/
  .left-image, .right-images, .small-screen-image {
    display: none;
  }

  /* For screens wider than 990px */
  @media (min-width: 990px) {
    .left-image, .right-images {
      display: flex !important;
    }
    .small-screen-image {
      display: none !important;
    }
  }

  /* For screens between 750px and 990px */
  @media (max-width: 989px) and (min-width: 766px) {
    .left-image {
      display: flex !important;
    }
    .right-images, .small-screen-image {
      display: none !important;
    }
  }

  /* For screens narrower than 750px */
  @media (max-width: 764px) {
    .left-image, .right-images, .small-screen-image {
      display: none !important;
    }
  }
  .table-responsive {
    width: 100%;
    overflow-x: auto;
}

/* Media query for screens below 530px */
@media (max-width: 530px) {
    .table-responsive {
        overflow-x: scroll;
    }
    table {
        min-width: 530px; /* Ensures the table doesn't shrink below this width */
    }
}

  /**/


  .header {
    background-image: url('./Banner-bg.jpg');
    color: white;
  }
  .guidelines {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
  }

  .event{
      background-image: url('./Background_Theme_1.jpg');
      padding:10px 0;

  }
  .event .container{
    padding-top: 10px;
    padding-bottom: 80px;
    background-color: white;
  }
  .table-body{
      background-color: #f8f9fa;
  }

  .table-custom {
    width: 100%;
    margin: 0 auto; 
    font-size: 14px;
  }
  .table-custom th,
  .table-custom td {
    padding: 8px;
  }

  .card{
    cursor: pointer;
  }
  .card-title{
    font-size: 20px;
    font-weight: 600px !important;
    color:#991403;
    padding: 15px 0 5px;
  }
  .iconSize{
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }


  .header-divider {
    display: inline-block;
    height: 10px;
    margin: 10px auto;
  }


  /*Hindi font*/

  .hind-light {
    font-family: "Hind", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-regular {
    font-family: "Hind", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-medium {
    font-family: "Hind", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-semibold {
    font-family: "Hind", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-bold {
    font-family: "Hind", serif;
    font-weight: 700;
    font-style: normal;
  }
  